// sidebar
$menuText:#666;
$menuActiveText:#206BFE;
$subMenuActiveText:#206BFE; //https://github.com/ElemeFE/element/issues/12951


$menuBg:linear-gradient(180deg, #5383EF 0%, #5C4BD7 100%);
$menuHover:transparent;

$themeColor:#206BFE;
$redColor:#AD3232;
$greenColor:#62BD52;


// $subMenuBg:#1f2d3d;
$subMenuBg:transparent;
// $subMenuHover:#001528;
$subMenuHover:transparent;

$sideBarWidth: 220px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  themeColor:$themeColor;
}
